/*
* Basic theme styles
*/
* {
  font-family: "Montserrat", sans-serif;
}

html {
  overflow: hidden;
}

/*
* Content styles
*/
.container {
  width: 100%;
}
.container .container__image {
  width: 100%;
  object-fit: cover;
  height: calc(100vh - 200px);
}

/*
* Footer styles
*/
.footer {
  position: absolute;
  bottom: 0;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  background-color: #000000;
}
.footer .footer__copyright {
  max-width: 1320px;
  margin: 0 auto;
  padding: 36px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
}

/*
* Menu styles
*/
.header {
  position: relative;
  background-color: #000000;
}
.header .header__container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 32px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header__container .menu__secundario {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 8px;
  margin: 0 14px;
  height: 100%;
  border-right: 1px solid #ffffff;
}
.header .header__container .menu__secundario .menu__secundario__enlace {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  margin: 0 12px;
  font-size: 14px;
  font-weight: 500;
}
.header .header__container .menu__secundario .menu__secundario__enlace img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
.header .header__container .container__left,
.header .header__container .container__right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.header .header__container .header__menu {
  margin: 0 28px;
  display: flex;
  align-items: center;
  height: 100%;
}
.header .header__container .header__menu .header__menu__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.header .header__container .header__menu .header__menu__nav > li {
  margin: 0 10px;
  height: 100%;
  display: flex;
  align-items: center;
  border-bottom: 2px solid transparent;
}
.header .header__container .header__menu .header__menu__nav > li:hover {
  border-bottom: 2px solid #FFC72C;
}
.header .header__container .header__menu .header__menu__nav > li:hover > a {
  color: #FFC72C;
}
.header .header__container .header__menu .header__menu__nav > li > a {
  position: relative;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  transition: color 0.3s linear;
}
.header .header__container .header__menu .header__menu__nav li:hover .sub-menu {
  opacity: 1;
  visibility: visible;
}
.header .header__container .header__menu .header__menu__nav .sub-menu {
  display: flex;
  gap: 24px;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1320px;
  list-style: none;
  margin: 0;
  padding: 32px 16px;
  background: #303030;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
.header .header__container .header__menu .header__menu__nav .sub-menu::before {
  content: "";
  position: absolute;
  left: -50%;
  top: 0;
  width: 100%;
  background-color: #303030;
  height: 100%;
  z-index: -1;
}
.header .header__container .header__menu .header__menu__nav .sub-menu::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  width: 100%;
  background-color: #303030;
  height: 100%;
  z-index: -1;
}
.header .header__container .header__menu .header__menu__nav .sub-menu li {
  display: flex;
  align-items: center;
  padding: 16px;
  background-color: rgba(255, 255, 255, 0.0509803922);
  border-radius: 8px;
  flex: 1 1 420px;
  max-width: 420px;
}
.header .header__container .header__menu .header__menu__nav .sub-menu li:hover {
  cursor: pointer;
  background-color: #FFC72C;
}
.header .header__container .header__menu .header__menu__nav .sub-menu li:hover a {
  color: #000000;
}
.header .header__container .header__menu .header__menu__nav .sub-menu li a {
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
}
.header .header__container .header__branding__logo img {
  position: relative;
  width: 150px;
  height: auto;
}
.header .header__container .header__branding__aux {
  position: relative;
  width: 150px;
  height: auto;
}

.header--mobile .header__menu {
  display: none;
  position: relative;
  height: 100vh;
}
.header--mobile .header__menu .arrow {
  position: absolute;
  right: 32px;
  top: 10px;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  border-bottom: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
}
.header--mobile .header__menu > ul > li {
  position: relative;
}
.header--mobile .header__menu > ul > li > a {
  display: block;
  padding: 16px 32px;
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid #ffffff;
}
.header--mobile .sub-menu {
  display: none;
  background-color: #303030;
}
.header--mobile .sub-menu li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.0509803922);
}
.header--mobile .sub-menu li a {
  display: block;
  padding: 16px 32px;
  color: #ffffff;
  text-decoration: none;
}
.header--mobile .header__branding__aux {
  display: none;
}
.header--mobile .header__branding__aux.active {
  display: block;
  z-index: 1;
  position: absolute;
  top: calc(100vh - 190px);
  width: 150px;
  left: 50%;
  transform: translateX(-50%);
}
.header--mobile .header__menu__nav li:hover {
  cursor: pointer;
}
.header--mobile .header__container {
  border-bottom: 3px solid #FFC72C;
}

.header__toggle {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 32px;
  height: 32px;
  padding: 5px 0;
}
.header__toggle:hover {
  cursor: pointer;
}
.header__toggle span {
  width: 100%;
  height: 2px;
  background-color: #ffffff;
}

.header__toggle.active {
  top: -5px;
  left: -5px;
}
.header__toggle.active span:nth-child(1) {
  transform: rotate(45deg) translate(14px, 8px);
}
.header__toggle.active span:nth-child(2) {
  display: none;
}
.header__toggle.active span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, 0px);
}

@media (max-width: 990px) {
  .header--desktop {
    display: none;
  }
  .header--mobile {
    display: block;
  }
}
@media (min-width: 991px) {
  .header--desktop {
    display: block;
  }
  .header--mobile {
    display: none;
  }
}

/*# sourceMappingURL=base.css.map */
